# Build output
dist/
*.tsbuildinfo
out/

# Node / npm
node_modules/

# OS
Thumbs.db
Desktop.ini
.opencode/

# IDE
.idea/
.vs/



# Secrets
*.db
logs/
config/

# Runtime data
a3st_*.db
bans.json
snapshots/
*.dll
*.exe
userdata/
siteserverui/
steamcmd.exe
steamcmd.exe.*
update_hosts_cached.vdf
coverage/
${APPDATA}/
