.vs/a3/v17/.suo
a3/bin/Debug/a3.exe
a3/bin/Debug/a3.pdb
a3/bin/Debug/destiny_players.db
a3/obj/Debug/a3.csproj.CoreCompileInputs.cache
a3/obj/Debug/a3.csproj.FileListAbsolute.txt
a3/obj/Debug/a3.csproj.GenerateResource.cache
a3/obj/Debug/a3.exe
a3/obj/Debug/a3.pdb
a3/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AppUpdate/bin/Debug/
